body {
}

#form{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

#submit{
    margin-top:50px;
    padding: 12px 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #ffd30c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

#submit:active{
    background-color: #ffb405;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

  

